fastapi==0.128.0
uvicorn[standard]==0.40.0
langchain-core==1.2.7
mcp==1.26.0
colorlog==6.9.0
librosa==0.11.0
transnetv2_pytorch==1.0.5
langchain==1.2.4
langchain_mcp_adapters==0.2.1
langchain_openai==1.1.6
ffmpeg-python==0.2.0
aiofiles==23.2.1
skillkit==0.4.0
moviepy==2.2.1
av==16.1.0
langchain-community==0.4.1
langchain-huggingface==1.2.0
sentence-transformers==5.2.2
tomli
faiss-cpu==1.13.2
openai==2.16.0
emoji==2.15.0
funasr==1.3.1